* {
	margin: 0;
	padding: 0;
}
html {
	box-sizing: border-box;
	font-family: monospace;
	font-weight: 400;
	line-height: 1.1;
}
img {
	width: 100%;
	height: auto;
}
.site-body {
	display: block;
	width: 100%;
}
/* product-card-wrapper */
.product-card-wrapper {
	display: block;
	height: auto;
	padding: 10px;
	max-width: 350px;
	margin: 0 auto;
}
.product-card {
	position: relative;
	padding: 4px 8px;
	display: block;
	height: auto;
	border: 1px solid gray;
	border-radius: 6px;
	margin: 12px 0px;
}
.product-image-wrapper {
	display: block;
}
.product-img {
	border: 1px solid gray;
	border-radius: 10px;
	background-size: contain;
	position: relative;
}
/* product-details-wrapper */
.product-details-wrapper {
	display: block;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 4px;
}
.product-info-wrapper {
	padding: 4px 0px;
}
.product-header {
	margin-bottom: 10px;
	text-align: center;
}
.product-info {
	display: block;
}
.product-price {
	display: block;
	text-align: center;
	margin-top: 4px;
	font-size: 18px;
	font-weight: 700;
}
/* product-action-wrapper */
.product-action-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 0px;
	margin: 0px 10px;
}
.product-action {
	display: block;
	width: 100%;
}
.preorder-btn {
	width: 100%;
	cursor: pointer;
	padding: 4px 8px;
	letter-spacing: 3px;
	font-weight: 600;
	font-variant: small-caps;
}
/* countdown-card-wrapper */
.countdown-card-wrapper {
	display: block;
	width: 100%;
	border: 1px solid gray;
	border-radius: 6px;
	margin-bottom: 10px;
}
.card-header-wrapper {
	display: block;
	margin-top: 10px;
	text-align: center;
}
.card-header {
	letter-spacing: 2px;
}
.countdown-card {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 8px;
}
.ci {
	text-align: center;
	padding: 8px;
	border: 1px solid gray;
	border-radius: 6px;
}
.ci-info {
	font-variant: small-caps;
	letter-spacing: 2px;
}