/* styles.css - iamkiambuthi - 2021 - MIT LICENSE */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	position: relative;
	display: block;
	line-height: 1.4;
	font-weight: 500;
	font-family: monospace;
}

:root {
	--site-color: gray;
	--site-bg-color: white;
}
.site-body {
	padding: 15px;
	min-height: 100vh;
}
.site-container {
	display: block;
	max-width: 500px;
	margin: 0 auto;
	padding-top: 5px;
	border: 1px solid gray;
	border-radius: 3px;
}
/* todo-form */
.todo-form {
	display: block;
	padding: 10px;
}
.form-item {
	display: block;
	margin: 5px 0px;
}
.form-submit {
	display: flex;
	align-items: center;
	justify-content: center;
}
.submit-btn {
	padding: 5px 10px;
}
.form-header {
	text-align: center;
}
.form-input {
	padding: 5px;
	width: 100%;
}
.error-field {
	display: block;
	padding: 4px;
	text-align: center;
	
}
/* todo-tasks-section */
.todo-tasks {
	display: block;
	padding: 10px;
}
.task-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid gray;
	border-radius: 3px;
	padding: 5px 10px;
	margin-bottom: 2px;
}
.task-label {
	display: inline-block;
	font-size: 14px;
}
.task-delete {
	background: red;
	color: white;
	height: auto;
	border: 2px solid red;
	border-radius: 5px;
	letter-spacing: 2px;
	font-variant: small-caps;
	padding: 5px 10px;
}