/* styles.css @iamkiambuthi 2021. */
* {
	margin: 0;
	font-family: monospace;
	box-sizing: border-box;
}
:root {
	--pimary-site-color: #5f6368;
	--primary-site-bg: #f7f7f7;
}

body {
	display: block;
	background: var(--primary-site-bg);
	min-height: 100vh;
	border: 1px solid gray;
}
/* carousel-section. */
.carousel-section {
	display: block;
	z-index: 9999;
	overflow: hidden;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px 0px;
	
}
/* carousel-wrapper. */
.carousel-wrapper {
	position: relative;
	display: block;
	padding: 15px 0px;
	border: 1px solid gray;
	border-radius: 5px;
}

/* carousel. */
.carousel {
	display: flex;
	width: 1000vw;
}

/* carousel-item. */
.carousel-item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 60px;
	margin: 0px 5px;
	border: 1px solid gray;
	border-radius: 15px;
	color: white;
	background: gray;
}
/* carousel-item-content. */
.carousel-item-content {
	display: flex;
	align-items: center;
	justify-content: center;

}
/* carousel-btn. */
.carousel-btn {
	position: absolute;
	z-index: 999;
	display: block;
	max-width: 50px;
	text-align: center;
	margin: 4px 0px;
	padding: 4px 8px;
	border: 1px solid black;
	border-radius: 15px;
	color: white;
	cursor: pointer;
	background: black;
	font-variant: small-caps;
	letter-spacing: 2px;
}
.left {
	top: 75px;
	left: 50%;
}
.right {
	top: 75px;
	right: 50%;
}

/* dynamically moves the entire carousel to the left by width of two carousel items. */
.move-left {
	transform: translateX(-120px);
}
/* dynamically moves the entire carousel to the left by width of two carousel items. */
.move-right {
	transform: translateX(120px);
}